---
	//import StoryblokComponents from './StoryblokComponents.astro';
	import { storyblokEditable } from '@storyblok/astro';
	import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

	const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
	<div class="container grid grid-cols-3 gap-12">
		{blok.columns?.map(blok => {return <StoryblokComponent blok={blok} />})}
	</div>
</div>