---
import type { SbBlokData } from "./types";

interface Props {
  blok: SbBlokData;
}

const { blok } = Astro.props;
---

<section>
  <div>
    <p>
      Component could not be found for blok <span class="component"
        >{blok.component}</span
      >! Is it configured correctly?
    </p>
  </div>
</section>

<style scoped>
  section {
    display: flex;
    justify-content: center;
    padding: 60px 0;
  }
  div {
    display: inline-flex;
    background-color: #eff1f3;
    text-align: center;
    padding: 15px 30px;
    border-radius: 5px;
  }
  span.component {
    color: #00b3b0;
    font-weight: bold;
  }
</style>
