---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)} data-test="feature-component">
  <h2 class="text-center text-secondary text-xl font-bold">{blok.name}</h2>
</div>
