---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Storyblok Preview</title>
    <style is:global>
      body {
        margin: 0;
        padding: 0;
        height: 100vh;
      }
    </style>
    <script>
      import "iframe-swapper";
      import {
        setupPreviewEventsManager,
        setupPreviewIFrameManager,
      } from "@storyblok/astro";

      setupPreviewEventsManager();
      await setupPreviewIFrameManager();
    </script>
  </head>
  <body><iframe-swapper swap-delay="100"></iframe-swapper></body>
</html>
