---
import { renderRichText, storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
const renderedRichText = renderRichText(blok.text);
---

<div {...storyblokEditable(blok)} data-test="richtext-renderer-component">
  <div set:html={renderedRichText} />
</div>
