---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)} class="my-4 py-2">
  <h2 class="text-center text-4xl font-bold">{blok?.heading}</h2>
  <div class="container grid grid-cols-3 gap-12 mt-4">
    {
      blok.posts?.map((blok) => {
        return (
          <div class="border p-2">
            <p class="font-bold text-xl mb-2">{blok.name}</p>
            <a class="underline" href={blok.full_slug}>
              Read full article
            </a>
          </div>
        );
      })
    }
  </div>
</div>
