---
	import { storyblokEditable } from '@storyblok/astro';
	import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

	const { blok } = Astro.props
---

<main {...storyblokEditable(blok)}>
	{blok.body?.map(blok => {return <StoryblokComponent blok={blok} />})}
</main>