---
	import { storyblokEditable } from '@storyblok/astro';
	import Counter from './react/Counter.jsx';

	const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
	<Counter blok={blok} client:visible />
</div>