<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>@storyblok/astro</title>
</head>

<body class="container">
	<slot />
</body>

</html>